body{
  background-color:#f8f9fa!important;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.block{
  background-color: #fff;
  padding:10px;
  border-radius: 10px;
}
.h1{
  position: relative;
}
h1{
  text-align: center;
  margin: 50px 0 50px 0!important;
  color: #3b565f;
}
h1::before{
  content: "";
  background-color: #3b565f;
  width: 32%;
  height: 4px;
  position: absolute;
  bottom: -14px;
  border-radius: 18px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
h3{
  text-align: center;
  margin: 20px 0 20px 0!important;
  color: #3b565f;
  border: #3b565f;
}